<div class="padding-10" *ngIf="input">
  <h2>Адрес</h2>
  <p *ngIf="input.data">
    {{
      input.data.feature.attrs.address
        ? input.data.feature.attrs.address
        : "Нет адреса"
    }}
  </p>
  <p *ngIf="!(input && input.data)">-</p>
  <p *ngIf="input && input.point">
    Точка: {{ input.point.lat }}, {{ input.point.lng }}
  </p>
</div>
<mat-tab-group *ngIf="input">
  <mat-tab label="Информация" *ngIf="heatPoint$ | async as heatPoint">
    <div class="padding-10">
      <table class="params">
        <tbody>
          <tr>
            <td class="param-name">ID точки</td>
            <td>{{ heatPoint.id }}</td>
          </tr>
          <tr *ngIf="input.point && input.point.firearea">
            <td class="param-name">Площадь возгорания</td>
            <td>{{ input.point.firearea | number }} м2</td>
          </tr>
          <tr>
            <td class="param-name">Дата пролета спутника</td>
            <td>{{ heatPoint.satelliteTime }}</td>
          </tr>
          <tr>
            <td class="param-name">Дата появления на Портале</td>
            <td>{{ heatPoint.satellitePortalTime }}</td>
          </tr>
          <tr>
            <td class="param-name">Дата отработки</td>
            <td>{{ heatPoint.reactionTime }}</td>
          </tr>
          <tr>
            <td class="param-name">Статус</td>
            <td>{{ heatPoint.status }}</td>
          </tr>
          <tr>
            <td class="param-name">Ответственный</td>
            <td>
              <p *ngIf="heatPoint.respPerson">
                <b>{{ heatPoint.respPerson.name }}</b>
                <br />
                <a class="link" href="tel:+{{ heatPoint.respPerson.phone }}">{{
                  heatPoint.respPerson.phone
                }}</a>
              </p>
            </td>
          </tr>
          <tr>
            <td class="param-name">Субьект</td>
            <td>{{ heatPoint.subject }}</td>
          </tr>
          <tr>
            <td class="param-name">Регион</td>
            <td>{{ heatPoint.region }}</td>
          </tr>
          <tr>
            <td class="param-name">Ближайший населенный пункт</td>
            <td>{{ heatPoint.theNearestSettlement }}</td>
          </tr>
          <tr>
            <td class="param-name">Дистанция</td>
            <td>{{ heatPoint.destination | number }} м</td>
          </tr>
          <tr>
            <td class="param-name">Азимут</td>
            <td>{{ heatPoint.azimuth }}</td>
          </tr>
          <tr>
            <td class="param-name">Уровень риска</td>
            <td>{{ heatPoint.riskLeve }}%</td>
          </tr>
          <tr>
            <td class="param-name">Вероятный тип</td>
            <td>{{ heatPoint.type }}</td>
          </tr>
          <tr>
            <td class="param-name">
              Класс пожарной опасности (по ближайшей метеостанции)
            </td>
            <td>{{ heatPoint.classification }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Кадастр" *ngIf="input.data">
    <div class="padding-10">
      <table class="params">
        <tbody>
          <tr>
            <td class="param-name">Кадастровый номер</td>
            <td>{{ input.data.feature.attrs.cn }}</td>
          </tr>
          <tr>
            <td class="param-name">Присвоение кадастровой стоимости</td>
            <td>{{ input.data.feature.attrs.date_cost }}</td>
          </tr>
          <tr>
            <td class="param-name">Кадастровая площадь</td>
            <td>{{ input.data.feature.attrs.area_value | number }} м2</td>
          </tr>
          <tr>
            <td class="param-name">Введение в эксплуатацию</td>
            <td>{{ input.data.feature.attrs.cc_date_entering }}</td>
          </tr>
          <tr>
            <td class="param-name">По документу</td>
            <td>{{ input.data.feature.attrs.util_by_doc }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Услуги" *ngIf="input.data">
    <div class="padding-10">
      <table class="params">
        <tbody>
          <tr>
            <td class="param-name">Кадастровая стоимость</td>
            <td>
              <a
                class="link"
                target="_blank"
                href="https://rosreestronline.ru/order/?cadNum={{
                  input.data.feature.attrs.cn
                }}&docId=7"
                >В срочной выписке из ЕГРН</a
              >
            </td>
          </tr>
          <tr>
            <td class="param-name">Собственники</td>
            <td>
              <a
                class="link"
                target="_blank"
                href="https://rosreestronline.ru/order/?cadNum={{
                  input.data.feature.attrs.cn
                }}&docId=8"
                >В выписке о переходе прав</a
              >
            </td>
          </tr>
          <tr>
            <td class="param-name">Долги собственников</td>
            <td>
              <a
                class="link"
                target="_blank"
                href="https://rosreestronline.ru/order/?cadNum={{
                  input.data.feature.attrs.cn
                }}&docId=11715"
                >В отчете о рисках</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <div class="padding-10">
        <p>
          <a
            class="link"
            target="_blank"
            href="https://rosreestr.gov.ru/wps/portal/cc_information_online?KN={{
              input.data.feature.attrs.cn
            }}"
          >
            Справочная информация по объектам недвижимости в режиме online
          </a>
        </p>
        <p>
          <a
            class="link"
            target="_blank"
            href="https://rosreestr.gov.ru/wps/portal/p/cc_present/EGRN_1?KN={{
              input.data.feature.attrs.cn
            }}&objKind=002001001000"
          >
            Получить выписку из ЕГРН об основных характеристиках и
            зарегистрированных правах на объект недвижимости
          </a>
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
