<div class="padding-10">
  <h1>Детали</h1>
  <p *ngIf="data">
    {{ data.feature.attrs.address }}
  </p>
</div>
<mat-tab-group>
  <mat-tab label="Информация">
    <div class="padding-10">
      <div *ngIf="data">id: {{ data.feature.attrs.id }}</div>
    </div>
  </mat-tab>
  <mat-tab label="Услуги">
    <div class="padding-10" *ngIf="data">
      <p>
        <a
          class="link"
          target="_blank"
          href="https://rosreestr.gov.ru/wps/portal/cc_information_online?KN={{
            data.feature.attrs.cn
          }}"
        >
          Справочная информация по объектам недвижимости в режиме online
        </a>
      </p>
      <p>
        <a
          class="link"
          target="_blank"
          href="https://rosreestr.gov.ru/wps/portal/p/cc_present/EGRN_1?KN={{
            data.feature.attrs.cn
          }}&objKind=002001001000"
        >
          Получить выписку из ЕГРН об основных характеристиках и
          зарегистрированных правах на объект недвижимости
        </a>
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
