<!-- <p>
  Информационный ресурс для идентификации термических точек по принадлежности к
  категориям земель
</p> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-marker-details [input]="data$ | async"></app-marker-details>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-marker-map
      [heat]="heat$ | async"
      (mapClicked)="onMapClicked($event)"
      (markerClicked)="onMarkerClicked($event)"
    ></app-marker-map>
  </mat-sidenav-content>

  <mat-sidenav opened mode="side" position="end">
    <app-heat-list [heat]="heat$ | async"></app-heat-list>
  </mat-sidenav>
</mat-sidenav-container>
